<%= render partial: "layouts/header" %>

<div class="row">
  <h2>Edit Tag</h2>
</div>
<div class="row text-center">
  <%= form_for (@tag) do |f| %>

    <div class="large-10 large-centered columns">
      <%= f.text_field :name, placeholder: "Name" %>
    </div>
    <div class="large-10 large-centered columns">
      <%= f.submit "Submit", class: "button"%>
    </div>

  <% end %>
</div>