<style>

p span a {
	color: #b2b2b2 !important;
}
</style>

<h2>Tag Admin</h2>

<% @tags.each do |tag| %>

	<p>
	<%= link_to tag.name, tag_path(tag.name) %> 
	<span>
		<%= link_to ' | Destroy | ', tag, method: :destroy, data: { confirm: 'Are you sure?' } %>
	</span>
	</p>

<% end %>