
<div id="posts_banner">
<%= render partial: "layouts/header" %>

<div class="wrapper_wide">
    <h1>
      The choice is yours...
    </h1>
</div>


</div>

<div class="row">

    <div class= "small-12 columns" id="posts-grid">
      <%= render partial: @posts.reverse %>
    </div>

</div>

<div class="push"></div>


<div id="foot">
    <a href="#background" id="logo">Mindful[Me]</a>
</div>

<script>
function showURL() {
    var t1 = $("#Tag1").find(":selected").attr("value"),
        t2 = $("#Tag2").find(":selected").attr("value"),
        t3 = $("#Tag3").find(":selected").attr("value"),
        url = encodeURI('/search/' + t1 + "/" + t2 + "/" + t3);

    document.location = url;
}

$('#submit').click(showURL);

</script>