/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides
 *= require tags
 *= require font-awesome

 */

$highlight: #717399;
$white: #FFFFFF;
$light: #EDEFF5; 
$light-gray: #f3f3f3;
$medium-gray: #8a8a8a;
$dark: #595959;



body {
	font-family: 'Open Sans', sans-serif;
}


a {
  color: $highlight;

  &:hover {
  	color: lighten($highlight, 15%);
  }
}

.mt {
	margin-top: 1rem;
}


.push {
    clear: both;
}

.wrapper_full {
	width: 100%;
}

.wrapper_wide {
	width: 90%;
	margin: 0 auto;
}

.wrapper_skinny {
	width: 80%;
	margin: 0 auto;
}



.panelwrap {
  min-height:100%;
  position:relative;
  margin: auto;

  .foot {
    height: 10vh;
    background-color: #000000;
    width:100%;
    position:absolute;
    bottom:0;
    left:0;

    .logo {
        font-size: 1.25rem;
        font-weight: 700;
        color: $white;
        text-decoration: none;
        position: relative;
        margin-left: 2%;
        top: 35%; 
        -ms-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
      }
  }
}


.cf:before, .cf:after {
	content: " ";
	display: table;
}

.cf:after {
	clear: both;
}

.button {
	color: $white;
	text-decoration: none;
	font-size: 1.25rem;
	padding: 1rem 1rem;
	box-shadow: 0px 4px 0px 0px darken($highlight, 15%);
	border-radius: 8px;
	outline: none;
	border: none;
	display: inline-block;
	width: 8.5rem;
}

.button_highlight {
	background: $highlight;
	transition: background .4s ease-in-out;
	&:hover {
		background: darken($highlight, 7.5%);
	}
}

.form {

	border-radius: 8px !important;

	.button {
		color: $white;
		text-decoration: none;
		font-size: 1.25rem;
		padding: 1rem 1rem;
		box-shadow: 0px 4px 0px 0px darken($highlight, 15%);
		border-radius: 8px !important; 
		outline: none;
		border: none;
		display: inline-block;
		width: 8.5rem;
	}

	.button_highlight {
		background: $highlight;
		border-radius: 8px !important; 
		transition: background .4s ease-in-out;
		&:hover {
		background: darken($highlight, 7.5%);
	}
}
}

.button_white {
	background: $white;
	box-shadow: 0px 4px 0px 0px darken($white, 15%);
	color: $dark !important;
	transition: background .4s ease-in-out;
	&:hover {
		background: darken($white, 7.5%);
	}
}

.button_block {
	display: block;	
	margin: 0 auto;
}

#main_header {
	color: $dark;
	background: $white;
	padding: 2.5rem 0;

	#logo {
			float: left;
			text-transform: uppercase;
			font-weight: 700;
			color: $dark;
			text-decoration: none;
		}

		nav {
			float: right;
			ul {
				list-style: none;
				margin: 0;
				li {
					display: inline;
					margin-left: 2.5rem;

					a {
						color: $dark;
						text-decoration: none;
					}
				}
			}
		}



}

#banner {
	
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	margin-bottom: 4rem;
	h1 {
		text-align: center;
		color: $white !important;
		font-size: 3rem;
		font-weight: 300;
		letter-spacing: 1px;
		margin: 0;
		padding: 8rem 0;
	}
}


.sign_in_banner {
	background-image: url(../images/sign_in_banner.jpg);
}

.sign_up_banner {
	background-image: url(../images/sign_up_banner.jpg);
}


.pagination:before, .pagination:after {
	content: " ";
	display: table;
}

.pagination:after {
	clear:both;
}

.pagination {
	text-align: center;
	margin: 2rem 0;
	a, .previous_page, .current, .next_page {
		padding:0.75rem 1rem;
		margin: 0.25rem;
		border-radius: .15rem;
		line-height: 1.25;
		text-decoration: none;
		background-color: #EDEFF5;
		font-weight: 700;
		font-size: .7rem;
		font-style: normal;
		color: $dark;
	}

	.current {
		background: $highlight;
		color: $white;
	}

	.disabled {
		color: #C0C0C0;
		&:hover {
			color: #C0C0C0;
			background-color: #EDEFF5;
		}
	}
}

.field {
	margin: .5rem 0 1.5rem 0;
}

input[type="email"], input[type="text"], input[type="password"], textarea {
	width: 100%;
	height: 2.5rem;
	padding: .25rem 1rem;
	background: $light;
	border: 1px solid darken($light, 5%);
	border-radius: .35rem;
	margin-top: .5rem;
}

textarea {
	min-height: 8rem;
	margin-top: .5rem !important;
}

#form {
	padding: 0 0 5rem 0;
}

.post-tile{
  background: white;
  border-radius: 4px;
  padding: 16px;
  border-bottom: 2px solid lighten($highlight, 30%);

  .thumbnail {
  	float: left;
  	margin-right: 2rem;
  }

  @media (min-width: 48em) {
	  p {
		  width: 75%;
		  white-space: nowrap;
		  overflow: hidden;
		  text-overflow: ellipsis;
	  }
  }

    @media (max-width: 68em) {
	  p {
		  width: 55%;
		  white-space: nowrap;
		  overflow: hidden;
		  text-overflow: ellipsis;
	  }
  }

  .tags {

  }
}




/* Sidebar */

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: auto;
  right: -14rem;
  width: 14rem;
  visibility: hidden;
  overflow-y: auto;
  font-family: "PT Sans", Helvetica, Arial, sans-serif;
  font-size: .875rem; /* 15px */
  color: rgba(255,255,255,.6);
  background-color: #202020;
  -webkit-transition: all .5s ease-in-out;
          transition: all .5s easeliner
}
@media (min-width: 30em) {
  .sidebar {
    font-size: .75rem; /* 14px */
  }
}

/* Sidebar content */
.sidebar a {
  font-weight: normal;
  color: #fff;
}
.sidebar-item {
  padding: 1rem;
}
.sidebar-item p:last-child {
  margin-bottom: 0;
}

/* Sidebar nav */
.sidebar-nav {
  border-bottom: 1px solid rgba(255,255,255,.1);
}
.sidebar-nav-item {
  display: block;
  padding: .5rem 1rem;
  border-top: 1px solid rgba(255,255,255,.1);
}
.sidebar-nav-item.active,
a.sidebar-nav-item:hover,
a.sidebar-nav-item:focus {
  text-decoration: none;
  background-color: rgba(255,255,255,.1);
  border-color: transparent;
}

@media (min-width: 48em) {
  .sidebar-item {
    padding: 1.5rem;
  }
  .sidebar-nav-item {
    padding-left:  1.5rem;
    padding-right: 1.5rem;
  }
}

/* Hide the sidebar checkbox that we toggle with `.sidebar-toggle` */
.sidebar-checkbox {
  display: none;
}


/* Style the `label` that we use to target the `.sidebar-checkbox` */
.sidebar-toggle {
  position: absolute;
  top:  2.9rem;
  left: auto;
  right: 1rem;
  display: block;
  width: 2.5rem;
  padding: .5rem .65rem;
  color: $white;
  border: 2px solid $white;
  border-radius: 4px;
  cursor: pointer;

  .toggle-dark {
  	color: $highlight !important;
  	border: 2px solid $highlight !important;

	}
}


.sidebar-toggle:before {
  display: block;
  content: "";
  width: 100%;
  padding-bottom: .125rem;
  border-top: .375rem double;
  border-bottom: .125rem solid;

  /* Make the border inside the box */
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

@media (min-width: 30.1em) {
/* Style the `label` that we use to target the `.sidebar-checkbox` */
	.sidebar-toggle {
		display: none;
	}

}






.sidebar-toggle:active,
#sidebar-checkbox:checked ~ .sidebar-toggle {
  color: #fff;
  background-color: #505050;
}

@media (min-width: 30.1em) {
  .sidebar-toggle {
    position: fixed;
    width: 2.25rem;
  }
  .sidebar-toggle:before {
    padding-bottom: .15rem;
    border-top-width: .45rem;
    border-bottom-width: .15rem;
  }
}


/* Slide effect
 *
 * Handle the sliding effects of the sidebar and content in one spot, seperate
 * from the default styles.
 *
 * As an a heads up, we don't use `transform: translate3d()` here because when
 * mixed with `position: fixed;` for the sidebar toggle, it creates a new
 * containing block. Put simply, the fixed sidebar toggle behaves like
 * `position: absolute;` when transformed.
 *
 * Read more about it at http://meyerweb.com/eric/thoughts/2011/09/12/.
 */

.panelwrap,
.sidebar,
.sidebar-toggle {

    z-index: 100;

  -webkit-backface-visibility: hidden;
      -ms-backface-visibility: hidden;
          backface-visibility: hidden;
}
.panelwrap,
.sidebar-toggle {
  -webkit-transition: -webkit-transform .5s ease-in-out;
          transition: transform .5s ease-in-out;
}

#sidebar-checkbox:checked + .sidebar {
  z-index: 10;
  visibility: visible;
}
#sidebar-checkbox:checked ~ .sidebar,
#sidebar-checkbox:checked ~ .panelwrap,
#sidebar-checkbox:checked ~ .sidebar-toggle {
  -webkit-transform: translateX(-14rem);
      -ms-transform: translateX(-14rem);
          transform: translateX(-14rem);
}