/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides
 *= require tags
 *= require font-awesome

 */

$highlight: #717399;
$white: #FFFFFF;
$light: #EDEFF5; 
$light-gray: #f3f3f3;
$medium-gray: #8a8a8a;
$dark: #595959;



body {
	font-family: 'Open Sans', sans-serif;
	background-color: $white;
	
}


a {
  color: $highlight;

  &:hover {
  	color: lighten($highlight, 15%);
  }
}

header {
    padding: 3rem 0;
    #logo {
      font-size: 1.25rem;
      float: left;
      font-weight: 700;
      color: $highlight;
      text-decoration: none;
    }
    nav {
      float: right;
      ul {
        list-style: none;
        margin: 0;
        li {
          display: inline;
          margin-left: 2.5rem;

          a {
            color: $highlight;
            text-decoration: none;
          }
        }
      }
    }

    @media (max-width: 30em) {
      nav {
        display: none;
      }
    }
  }

#logo {
    color: $white ;
}

  ul {
    a {
      color: $white;
    }
  }

.mt {
	margin-top: 1rem;
}


.push {
    clear: both;
}

.wrapper_full {
	width: 100%;
}

.wrapper_wide {
	width: 90%;
	margin: 0 auto;
}

.wrapper_skinny {
	width: 80%;
	margin: 0 auto;
}


.columns {
	padding-left: .5rem;
	padding-right: .5rem;
}



.panelwrap {
  min-height:100%;
  position:relative;
  margin: auto;

  .foot {
    height: 10vh;
    background-color: #000000;
    width:100%;
    position:absolute;
    bottom:0;
    left:0;
    margin-top: 8rem;

    .logo {
        font-size: 1.25rem;
        font-weight: 700;
        color: $white;
        text-decoration: none;
        position: relative;
        margin-left: 2%;
        top: 35%; 
        -ms-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
      }
  }
}

.row {

	h3 {
	text-align: left;
	color: $highlight;
	font-size: 2rem;
	font-weight: bold;
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
	margin-left: auto;
	margin-right: auto;
	}

}

.cf:before, .cf:after {
	content: " ";
	display: table;
}

.cf:after {
	clear: both;
}


.button {
		color: $white;
		text-decoration: none;
		font-size: 1.25rem;
		padding: 1rem 1rem;
		box-shadow: 0px 4px 0px 0px darken($highlight, 15%);
		border-radius: 8px !important; 
		outline: none;
		border: none;
		display: inline-block;
		width: 8.5rem;
	}

	.button_highlight {
		background: $highlight;
		border-radius: 8px !important; 
		transition: background .4s ease-in-out;
		&:hover {
		background: darken($highlight, 7.5%);
	}
}

.button_white {
	background: $white;
	box-shadow: 0px 4px 0px 0px darken($white, 15%);
	color: $dark !important;
	transition: background .4s ease-in-out;
	&:hover {
		background: darken($white, 7.5%);
	}
}

.button_block {
	display: block;	
	margin: 0 auto;
}

#main_header {
	color: $dark;
	background: $white;
	padding: 2.5rem 0;

	#logo {
			float: left;
			text-transform: uppercase;
			font-weight: 700;
			color: $dark;
			text-decoration: none;
		}

		nav {
			float: right;
			ul {
				list-style: none;
				margin: 0;
				li {
					display: inline;
					margin-left: 2.5rem;

					a {
						color: $dark;
						text-decoration: none;
					}
				}
			}
		}



}

#banner {
	
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	margin-bottom: 4rem;
	h1 {
		text-align: center;
		color: $white !important;
		font-size: 3rem;
		font-weight: 300;
		letter-spacing: 1px;
		margin: 0;
		padding: 8rem 0;
	}
}




.field {
	margin: .5rem 0 1.5rem 0;
}

input[type="email"], input[type="text"], input[type="password"], textarea {
	width: 100%;
	height: 2.5rem;
	padding: .25rem 1rem;
	background: $light;
	border: 1px solid darken($light, 5%);
	border-radius: .35rem;
	margin-top: .5rem;
}

textarea {
	min-height: 8rem;
	margin-top: .5rem !important;
	margin-bottom: 1rem;
}

#form {
	padding: 0 0 5rem 0;
}







@import 'normalize';
@import 'sidebar';
@import 'post_tile';




