$highlight: #717399;
$white: #FFFFFF;
$light: #EDEFF5; 
$light-gray: #f3f3f3;
$medium-gray: #8a8a8a;
$dark: #595959;


.push-posts {
  clear: both;
}

#posts-grid {

    .columns {
  padding-left: .5rem !important;
  padding-left: .5rem !important;
}


  margin-bottom: 8rem;




  @media (min-width: 48em) {
    .tags {

        a{
        color: lighten($highlight, 15%);
      }

        max-width: 60%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;  

    }
  }

  @media (max-width: 48em) {
    .tags {

      a{
        color: lighten($highlight, 15%);
      }

        max-width: 85%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

    }
  }

}


#posts_banner {
  background-image: image-url("camp_stars.jpg");
  background-size: cover !important;
  -webkit-background-size: cover;
  background-position: center;
  text-align: center;
  height: 282px;
  margin-bottom: 1rem;

  #logo {
    color: $white ;
  }

  a {
    color: $white;
  }

  h1 {
    text-align: center;
    color: $white !important;
    font-size: 2.5rem;
    font-weight: 300;
    letter-spacing: 1px;
    margin: 0;
    padding: 0;
  }
}



/* Post/new */
/* Post/edit */


.edit_background {
  background-color: $dark;
}

.new_background {
  background-image: image-url("trees.jpg");
}

.post_form {

  background-size: cover !important;
  -webkit-background-size: cover;
  background-position: center;
  
  .post-tile{
  background: white;
  padding: 16px;
  border-bottom: 2px solid lighten($highlight, 30%);

  .thumbnail {
    float: left;
    margin-right: 1rem;
    margin-bottom: 1rem;
    height: 64px;
    width: 64px;
  }

  @media (min-width: 48em) {
    p {
      width: 75%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

    @media (max-width: 68em) {
    p {
      width: 65%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }


}


  #logo {
    color: $white ;
  }

  ul {
    a {
      color: $white;
    }
  }

  #tagAdmin {
    color: $highlight;
    float: right;
    padding: 0 2rem 0 0;

      &:hover {
        color: $white;
      }
  }

  .new_form {
    box-shadow: 0px 3px 8px -4px rgba(0,0,0,0.15);
    background: white;
    border-radius: 4px;
    padding: 16px;
    border-bottom: 6px solid darken($highlight, 15%);

    .columns {
    padding: 0px !important;
  }
  }

}

.edit_form {

    background: white;
    border-radius: 4px;
    padding: 16px;
    border-bottom: 6px solid darken($highlight, 15%);
    margin-bottom: 8rem;
    height: 100%;

  .columns {
  padding: 0px !important;
}
}


/* Post/show */


.show_background {

    background-image: image-url("stars.jpg");
    background-size: cover !important;
    -webkit-background-size: cover !important;
    background-position: center;


}

.post-show{
  background: white; 
  border-radius: 4px;
  padding: 2rem;
  border-bottom: 2px solid lighten($highlight, 30%);
  margin-bottom: 8rem;

  h2 {
    display: inline-block;
    margin-top: 2rem;
    font-size: 2rem
  }

  @media (min-width: 48em) {
    p {
      margin-top: 0rem;
      margin-left: auto;
      margin-right: auto;
      display: block;
      white-space: normal;
    }
  }

  @media (max-width: 32em) {
    p {
      margin-top: 1.5rem;
      margin-left: auto;
      margin-right: auto;
      display: block;
      white-space: normal;
    }
  }


  .thumbnail {
      display: inline-block;
      height: 100px; 
      width: 100px;
      float: left;
      margin-right: 1.5rem;
    }

  .postHeader {
    @media (min-width: 48em) {
      .tags {
        float: right !important;
      }
    }

    @media (max-width: 32em) {

      margin-bottom: 1rem;

      .tags {
        display: inline-block !important;
        float: left !important;
      }
    }
  }

  .controls {
    float: right;
    a {
      margin-right: .25rem;
    }
  }



  #step1 {
    background-color: $highlight;
    margin-right: -2rem;

    p {
      color: $white;
      padding: 1rem;
      font-weight: bold;

    }
  }


  #step2 {

    p {
      color: $medium-gray;
      padding: 1rem;
      font-weight: bold;

    }
  }


  #step3 {
    background-color: $highlight;
    margin-left: -2rem;

    p {
      color: $white;
      padding: 1rem;
      font-weight: bold;

    }
  }

}







