$highlight: #717399;
$white: #FFFFFF;
$light: #EDEFF5; 
$light-gray: #f3f3f3;
$medium-gray: #8a8a8a;
$dark: #595959;

header {
    padding: 3rem 0;
    #logo {
      font-size: 1.25rem;
      float: left;
      font-weight: 700;
      color: $highlight;
      text-decoration: none;
    }
    nav {
      float: right;
      ul {
        list-style: none;
        margin: 0;
        li {
          display: inline;
          margin-left: 2.5rem;

          a {
            color: $highlight;
            text-decoration: none;
          }
        }
      }
    }

    @media (max-width: 30em) {
      nav {
        display: none;
      }
    }
  }



.push-posts {
  clear: both;
}

#posts-grid {
  margin-bottom: 8rem;
}


#posts_banner {
  background-image: image-url("camp_stars.jpg");
  background-size: cover !important;
  -webkit-background-size: cover;
  background-position: center;
  text-align: center;
  height: 282px;
  margin-bottom: 1rem;

  #logo {
    color: $white ;
  }

  a {
    color: $white;
  }

  h1 {
    text-align: center;
    color: $white !important;
    font-size: 2.5rem;
    font-weight: 300;
    letter-spacing: 1px;
    margin: 0;
    padding: 0;
  }
}



/* Posts/new */


#create_banner {
  background-image: image-url("cliff_yoga.jpg");
  background-size: cover !important;
  -webkit-background-size: cover;
  background-position: center;
  text-align: center;
  height: 564px;
  margin-bottom: 1rem;

  #logo {
    color: $white ;
  }

  a {
    color: $white;
  }

  #tagAdmin {
    color: $highlight;
    float: right;
    padding: 0 2rem 0 0;

      &:hover {
        color: $white;
      }
  }

  .form {
    box-shadow: 0px 3px 8px -4px rgba(0,0,0,0.15);
    background: white;
    border-radius: 4px;
    padding: 16px;
    border-bottom: 6px solid darken($highlight, 15%);
  }

}






.post-show{
  background: white;
  border-radius: 4px;
  padding: 2rem;
  border-bottom: 2px solid lighten($highlight, 30%);
  
  @media (min-width: 48em) {
    .thumbnail {
      height: 100px; 
      width: 100px;
      float: left;
      margin-right: 2rem;
    }
  }

  @media (max-width: 68em) {
    .thumbnail {
      height: 100px; 
      width: 100px;
      float: left;
      margin-right: 2rem;
    }
  }



  @media (min-width: 48em) {
    p {
      margin-top: 3rem;
      margin-left: auto;
      margin-right: auto;
      display: block;
      white-space: normal;
    }
  }

  @media (max-width: 68em) {
    p {
      margin-top: 3rem;
      width: 90%;
      display: block;
      white-space: normal;
    }
  }

  .tags {
    float: left;
  }

  .controls {
    float: right;
    a {
      margin-right: .25rem;
    }
  }


}






