$highlight: #717399;
$white: #FFFFFF;
$light: #EDEFF5; 
$light-gray: #f3f3f3;
$medium-gray: #8a8a8a;
$dark: #595959;

header {
    padding: 3rem 0;
    #logo {
      font-size: 1.25rem;
      float: left;
      font-weight: 700;
      color: $highlight;
      text-decoration: none;
    }
    nav {
      float: right;
      ul {
        list-style: none;
        margin: 0;
        li {
          display: inline;
          margin-left: 2.5rem;

          a {
            color: $highlight;
            text-decoration: none;
          }
        }
      }
    }

    @media (max-width: 30em) {
      nav {
        display: none;
      }
    }
  }
  

.nav-bar {
  background-color: rgba(255,255,255,0.99);
  border-bottom: 1px solid rgba(0,0,0,0.07);
  box-shadow: 0px 3px 8px -4px rgba(0,0,0,0.15);
  height: 88px;
  width: 100%;
  z-index: 2000;
  position: relative;
  h2 {
    position: absolute;
    top: 12px;
    left: 38px;
    color: #595959;
  }
}
.header {
  background-color: #b2b2b2;
  box-shadow: 0px 3px 8px -4px rgba(0,0,0,0.15);
  padding: 36px;
  z-index: 10;
  h3 {
    line-height: 1.2;
    color: #727272;
  }
}

a {
  color: #694489;
}

h3 {
  color: #fafafa;
}

h2 {
  color: #694489;
}

.button {
 background-color: #694489; 
}



#posts_banner {
  background-image: image-url("camp_stars.jpg");
  background-size: cover !important;
  -webkit-background-size: cover;
  background-position: center;
  text-align: center;
  height: 282px;
  margin-bottom: 1rem;

  #logo {
    color: $white ;
  }

  a {
    color: $white;
  }

  h1 {
    text-align: center;
    color: $white !important;
    font-size: 2.5rem;
    font-weight: 300;
    letter-spacing: 1px;
    margin: 0;
    padding: 0;
  }
}

.post-tile{
  box-shadow: 0px 3px 8px -4px rgba(0,0,0,0.15);
  background: white;
  border-radius: 4px;
  padding: 16px;
  border-top: 6px solid $highlight;
}

.mt{
  margin-top: 16px;
}
.mb{
  margin-bottom: 16px;
}


footer {
  height: 50px;
  line-height: 50px;
  color: #aaa;
  text-align: center;
  width: 100%;
  background-color: white;
  margin-top: 27px;
}