$highlight: #717399;
$white: #FFFFFF;
$light: #EDEFF5; 
$light-gray: #f3f3f3;
$medium-gray: #8a8a8a;
$dark: #595959;

header {
    padding: 3rem 0;
    #logo {
      font-size: 1.25rem;
      float: left;
      font-weight: 700;
      color: $highlight;
      text-decoration: none;
    }
    nav {
      float: right;
      ul {
        list-style: none;
        margin: 0;
        li {
          display: inline;
          margin-left: 2.5rem;

          a {
            color: $highlight;
            text-decoration: none;
          }
        }
      }
    }

    @media (max-width: 30em) {
      nav {
        display: none;
      }
    }
  }

.row {
    width: 90%;
}

.push-posts {
  clear: both;
}

#posts-grid {
  margin-bottom: 8rem;
}


#search_banner {
  background-image: image-url("mountain_sunset.jpg");
  background-size: cover !important;
  -webkit-background-size: cover;
  background-position: center;
  text-align: center;
  height: 282px;
  margin-bottom: 1rem;


  a {
    color: $white;
  }

  h1 {
    text-align: center;
    color: $white !important;
    font-size: 2.5rem;
    font-weight: 300;
    letter-spacing: 1px;
    margin: 0;
    padding: 0;
  }
}




