$white: #FFFFFF;
$highlight: #717399;
$dark: #595959;
$light: #EDEFF5; 
$light-gray: #f3f3f3;


* {
	box-sizing: border-box;
}


body {
	font-family: 'Open Sans', sans-serif;
}


.push {
    clear: both;
}

.wrapper_wide {
	width: 90%;
	margin: 0 auto;
}

.wrapper {
	width: 80%;
	margin: 0 auto;
}

.wrapper_skinny {
	width: 60%;
	margin: 0 auto;
}

.cf:before, .cf:after {
	content: " ";
	display: table;
}

.cf:after {
	clear: both;
}

.button {
	color: $white;
	text-decoration: none;
	font-size: 1.25rem;
	padding: 1rem 1rem;
	box-shadow: 0px 4px 0px 0px darken($highlight, 15%);
	border-radius: 8px;
	outline: none;
	border: none;
	display: inline-block;
	min-width: 8.5rem;
}

.button_highlight {
	background: $highlight;
	transition: background .4s ease-in-out;
	&:hover {
		background: darken($highlight, 7.5%);
	}
}

.button_white {
	background: $white;
	box-shadow: 0px 4px 0px 0px darken($white, 15%);
	color: $dark !important;
	transition: background .4s ease-in-out;
	&:hover {
		background: darken($white, 7.5%);
	}
}

.button_block {
	display: block;	
	margin: 0 auto;
}

#main_header {
	color: $dark;
	background: $white;
	padding: 2.5rem 0;

	#logo {
			float: left;
			text-transform: uppercase;
			font-weight: 700;
			color: $dark;
			text-decoration: none;
		}
		nav {
			float: right;
			ul {
				list-style: none;
				margin: 0;
				li {
					display: inline;
					margin-left: 2.5rem;

					a {
						color: $dark;
						text-decoration: none;
					}
				}
			}
		}
}

#banner {
	
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	margin-bottom: 4rem;
	h1 {
		text-align: center;
		color: $white !important;
		font-size: 3rem;
		font-weight: 300;
		letter-spacing: 1px;
		margin: 0;
		padding: 8rem 0;
	}
}

.podcasts_banner {
	background-image: url(../images/podcasts_banner.jpg);
}

.sign_in_banner {
	background-image: url(../images/sign_in_banner.jpg);
}

.sign_up_banner {
	background-image: url(../images/sign_up_banner.jpg);
}


.pagination:before, .pagination:after {
	content: " ";
	display: table;
}

.pagination:after {
	clear:both;
}

.pagination {
	text-align: center;
	margin: 2rem 0;
	a, .previous_page, .current, .next_page {
		padding:0.75rem 1rem;
		margin: 0.25rem;
		border-radius: .15rem;
		line-height: 1.25;
		text-decoration: none;
		background-color: #EDEFF5;
		font-weight: 700;
		font-size: .7rem;
		font-style: normal;
		color: $dark;
	}

	.current {
		background: $highlight;
		color: $white;
	}

	.disabled {
		color: #C0C0C0;
		&:hover {
			color: #C0C0C0;
			background-color: #EDEFF5;
		}
	}
}

.field {
	margin: .5rem 0 1.5rem 0;
}

input[type="email"], input[type="text"], input[type="password"], textarea {
	width: 100%;
	height: 2.5rem;
	padding: .25rem 1rem;
	background: $light;
	border: 1px solid darken($light, 5%);
	border-radius: .35rem;
	margin-top: .5rem;
}

textarea {
	min-height: 8rem;
	margin-top: .5rem !important;
}

#form {
	padding: 0 0 5rem 0;
}


#background {
	background-image: asset_path("mindful_forest.jpeg", image);
	height: 100vh;
	background-size: cover;
	background-position: center;
	text-align: center;

	header {
		padding: 3rem 0;
		#logo {
			font-size: 1.25rem;
			float: left;
			font-weight: 700;
			color: $white;
			text-decoration: none;
		}
		nav {
			float: right;
			ul {
				list-style: none;
				margin: 0;
				li {
					display: inline;
					margin-left: 2.5rem;

					a {
						color: $white;
						text-decoration: none;
					}
				}
			}
		}
	}
	
	h1 {
		color: $white;
		font-size: 2.5rem;
		font-weight: 300;
		letter-spacing: 1px;
		margin: 0 0 2rem 0;
	}

	.button {
		margin: 1.5rem 2.5% 0 2.5%;
	}
}

#intro {
	background-color: $white;
	height: auto !important;
	display: block;
	

	h1 {
		text-align: center !important;
		color: $highlight !important;
		font-size: 3rem;
		font-weight: 300;
		letter-spacing: 1px;
		padding-top: 6rem;
	}

	.row {
		height: 100vh;
		width: 100%;


		.card {
			height: 400px;
			min-width: 80%;
			max-width: 80%;
			background-color: $light-gray;
			margin: 2rem auto 2rem auto;
			border-radius: 8px;
			box-shadow: 0px 4px 0px 0px darken($light-gray, 15%); 

			&:hover {
				border: 2px solid $highlight;
				box-shadow: 0px 4px 0px 0px $highlight;
			}
		}

		.columns {
			height: auto !important;
		}
	}
}



#selection {
	background-color: $highlight;
	height: 90vh;
	display: block;

	h1 {
		text-align: center !important;
		color: $white !important;
		font-size: 3rem;
		font-weight: 300;
		letter-spacing: 1px;
		padding-top: 6rem;
		margin-bottom: 10rem;
	}

	.field {
		height: 10%;
		width: 100%;
		margin: auto;
	}

	.row {
		height: 100%;
	}

	
}

#foot {
	height: 10vh;
	background-color: #000000;

	#logo {
			font-size: 1.25rem;
			float: left;
			font-weight: 700;
			color: $white;
			text-decoration: none;
			margin-top: 2%;	
			margin-left: 2%;
		}
}






