<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
  <p>Mindful[Me]</p>
  </div>



  <nav class="sidebar-nav">
    <%= link_to "Home", root_path, class: "sidebar-nav-item" %> 
    <%= link_to "Exercises", posts_path, class: "sidebar-nav-item" %>
    <%= link_to "About", about_path, class: "sidebar-nav-item" %>       
    <%= link_to "Create", new_post_path, class: "sidebar-nav-item" %>
  </nav>

  <div class="sidebar-item">
    <p>
      <span>&copy; John Bonk 2015</span>
    </p>
  </div>
</div>
